# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Aula1/nbproject/private/
/Aula1/build/
/Aula2Ex1/nbproject/private/
/Aula2Ex1/build/
/Aula2ListaSimplesEncadeada/nbproject/private/
/Aula2ListaSimplesEncadeada/build/
/Aula3ExemploConstrutor/nbproject/private/
/Lista2Ex1/nbproject/private/
/ExemploArrayList/nbproject/private/
/ExemploArrayList/build/
/ListaDuplamenteEncadeada/nbproject/private/
/Aula5ListaDuplamenteEncadeada/nbproject/private/
/ExemploAssociacao/nbproject/private/
/ExemploAssociacao/build/
/ListaCircular/nbproject/private/
/ListaCircular/build/
/Aula6ListaCircular/nbproject/private/
/Aula6ListaCircular/build/
